
# folders
gitignore
README_original.md

espacio_trabajo/
proto_code/
.ipynb_checkpoints/

hpw20231220.csv
hp20231220.csv

ScraperETL-EDA-ML-Personal/project_3/
ScraperETL-EDA-ML-Personal/project_4/
ScraperETL-EDA-ML-Personal/project_5/
ScraperETL-EDA-ML-Personal/project_6/

